<!DOCTYPE html>
<html lang="en">

<!-- views/fruits/new.ejs -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Fruit</title>
    <style>
      input:invalid {
        border: 1px solid red;
      }
    </style>
</head>  

<body>
    <h1>Create a New Fruit!</h1>
    <% if (typeof errorMessage !== 'undefined') { %>
        <p><%= errorMessage %></p>
    <% } %>
    <form action="/fruits" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
        <button type="submit">Add fruit</button>
    </form>
    <a href="/fruits">Back to fruits index</a>
</body>

</html>